name: runnning unit test

on:
  push:
    branches:
      - ft/*
      - main  
  pull_request:
    branches:
      - main   

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          distribution: temurin
          java-version: '17'

      - name: Install dependencies
        run: mvn install -DskipTests

      - name: Run tests
        run: mvn test
